#row-noticias{
	padding-top: 10px;
	padding-bottom: 30px;
}

#row-noticias .enlace-noticia{
	color: #494949;
	font-size: 30px;
	margin-top: 40px;
}

#row-noticias .enlace-noticia:hover{
	opacity: 0.8;
}

#row-noticias img{
	margin-bottom: 30px;
}